body {
    padding-top: 3.5rem;
}

.list-icons {
    display: inline;
    float: right;
}


/* 
label,
input {
    display: block;
}

span.helptext {
    display: none;
} */

a.icon-block {
    float: right;
}